*
{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
main
{
	width: 70%;
	padding: 50px;
	margin: auto;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 0 60px 1px rgba(0,0,0,1);
}
@font-face
{
	font-family: Roboto;
	src: url(C:/Users/Zver/Desktop/mayncraft/font/Roboto-Regular.ttf);
}
h1
{
	width: 100%;
	text-align: center;
	font-size: 48px;
}
body
{
	background-color: #efefef;
	font-family: Roboto;
}
img
{
	width: 100px;
}
.photo
{
	width: calc(50% - 40px);
	height:calc((35vw - 40px) / 16 * 9);
	margin: 20px;
	background-color: white;
	background-position: center;
	background-size: cover;
	transition: all 0.5s ease;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2)
}
.photo:hover
{
	transform: rotate(3deg)scale(1.07);
	box-shadow: 0 0 20px 1px rgba(0,0,0,0.4);
}
.photo1
{
	background-image: url(img/1.jpg);
}
.photo2
{
	background-image: url(img/2.png);
}